.navbar {
  height: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  height: 50px;
  width: 50px;
  padding: 20px;
  transition: all 0.1s ease-in-out;
}

.logo:hover {
  cursor: pointer;
  color: #eee;
}

.session-buttons {
  margin-left: auto;
  margin-right: 30px;
}

.login-button {
  margin-right: 20px;
  margin-bottom: 5px;
}

.user-link {
  transition: all 0.1s ease-in-out;
}

.user-link:hover {
  cursor: pointer;
  color: #eee;
}