.user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.user-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;
}

.user-details {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.user-details-table {
    border-collapse: collapse;
    width: 500px;
    background-color: var(--yellow);
}

.user-details-table td {
    padding: 8px;
}

.user-details-table td:not(:first-child) {
    border-left: 3px solid var(--green);
}

.user-details-table tr:nth-child(odd) {
    background-color: var(--brown);
}

.tournaments-table {
    border-collapse: collapse;
    width: 100%;
}

.tournaments-table th {
    background-color: #222;
    color: white;
    padding: 10px;
    text-align: left;
}

.tournaments-table td {
    padding: 10px;
}

.tournaments-table tr {
    transition: all 0.1s ease-in-out;
}

.tournaments-table tr:nth-child(odd) {
    background-color: var(--brown);
}

.tournaments-table tr:nth-child(even) {
    background-color: var(--yellow);
}

.tournaments-table tbody tr:hover {
    outline: 3px solid #222;
    background-color: #222;
    color: white;
    cursor: pointer;
}